* {
  color: rgb(139, 0, 0);
  background-color: rgb(135, 206, 250, 1.0);
  font-family: "Georgia", "Times New Roman", serif;
  font-size: 18px;
}

img {
  width: 300px;
  height: auto;
}

#site-title,
.recipe-title {
color: rgb(72, 61, 139, 1.0);
}

#site-title {
  text-align: center;
  font-family: "Helvetica", "Arial", sans-serif;
  font-style: italic;
  font-size: 60px;
}

.recipe-title {
  font-style: italic;
  font-size: 48px;
}

.recipe-link {
  font-size: 24px;
}

.recipe-subhead {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 36px;
}

.text {
  color: rgb(200, 0, 200);
  font-size: 22px;
}

.description-text {
  font-style: italic;
}

ul,
ul .list-text {
  color: rgb(150, 150, 0);
}

.list-text {
  font-family: "Helvetica", "Arial", sans-serif;
}

.list-text > li {
  color: black;
}

.text.list-text {
  color: rgb(0, 50, 0);
}